<div class="menu">
  <nav>
    <ul class="menu-icon">
      <li class="active">
        <fa-icon [icon]="faHome"></fa-icon>

        <a>
          Inicio
        </a>
      </li>
      <li>
        <fa-icon [icon]="faList"></fa-icon>

        <a>
          Historial
        </a>
      </li>
      <li>
        <fa-icon [icon]="faPlusCircle"></fa-icon>

        <a>
          Ahorro
        </a>
      </li>
      <li>
        <fa-icon [icon]="faUserCircle"></fa-icon>

        <a>
          Mi perfil
        </a>
      </li>
      <li>
        <fa-icon [icon]="faEllipsisH"></fa-icon>

        <a>
          Más
        </a>
      </li>
    </ul>
  </nav>
</div>
